@use "src/vars";

.features {
  padding-top: 220px;
}

.title {
  @include vars.title;
  max-width: 670px;
  text-align: center;
  margin: 0 auto;
}

.descr {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 0.6px;
  max-width: 540px;
  margin: 20px auto 0px;
}

.img__wrapper {
  position: relative;
  margin-top: 40px;
}
.features__img {
  margin: 0 auto;
  z-index: 2;
}

.img__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 800px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(255, 179, 27);
  filter: blur(150px);
  z-index: 1;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
  margin-left: -100px;
  margin-bottom: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.item__text {
  max-width: 186px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}
